!!!
%html
	%head
		%title Prueba RoR
		= csrf_meta_tags
		%meta{:name => "viewport", :content => "width=device-width", "initial-scale"=> "1", "shrink-to-fit" =>"no"}
		%meta{"http-equiv"=>"x-ua-compatible", "content" => "ie=edge"}
		%link{:rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800"}
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
	%body
		= render "layouts/partials/nav"

		/ Cuadro de alertas de bootstrap
		-if alert
			.alert.alert-danger.alert-dismissible.fade.in{role:"alert"}
			%button.close{"data-dismiss":"alert", "aria-label":"Close"}
				%span{"aria-hidden":true} &times;
			%strong= alert
		= notice
		// cuadro de alertas

		
		= yield
